.abt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    }

    .abt-left {
    margin: 0 auto;
    }

    .abt-right {
    margin: 0 auto;
    justify-content: center;
    width: 55%;
    }

    /* Profile Card */
    .abt-card {
    width: 400px;
    height: 400px;
    }

    .abt-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 12px;
    }

    /* Buttons */
    .abt-right .btn_shadow {
    width: 10rem;
    margin-top: 2rem;
    color: #ff014f;
    }

    /* Subtitle */
    .abt-sub {
    color: #ff014f; /* Accent */
    margin: 20px 0px;
    font-weight: 600;
    }

    /* Description */
    .abt-desc {
    font-weight: 300;
    margin: 10px auto;
    color: #c7d4e6; /* Light */
    }

    .abt-right p {
    font-size: 21px;
    color: #c4cfde; /* Light */
    }



    #about .title {
    margin-top: 3rem;
    color: #e4e6ea; /* Light */
    }

    /* ================= MOBILE ABOUT ================= */

    @media (max-width: 768px) {
    .abt {
        margin: 2rem 1rem;
    }

    .abt-card {
        width: 250px;
        height: 250px;
    }

    .abt .title {
        margin-top: 20px;
        font-size: 40px;
        text-align: center;
    }

    .abt-right .btn_shadow {
        width: 6rem;
        margin: 2rem auto;
    }

    .abt .rsm {
        font-size: 0.8rem;
    }

    .abt-right {
        width: 100%;
    }

    .abt-right p {
        font-size: 16px;
    }
    }

    /* ================= TIMELINE SECTION ================= */

    .timeline {
    margin: 5rem 0.5rem;
    }

    /* Timeline Title */
    .timeline .title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #e4e6ea; /* Light */
    }

    /* Timeline Card */
    .timeline .vertical-timeline-element-content {
    background: #2a4657;
    color: #c4cfde;
    box-shadow: 5px 5px 15px rgba(153, 62, 62, 0.25) !important;
    padding: 1em 2em !important;
    border-left: 4px solid #f7024b; /* Accent */
    border-radius: 8px;
    border: 1px solid rgba(253, 253, 253, 0.05);
    transition: 0.3s ease-in-out;
    }
    .timeline .vertical-timeline-element-content:hover {
    background: #273d51;
    transform: translateY(-10px);
    border-color: rgba(215, 216, 219, 0.2);
    box-shadow: 8px 8px 20px rgba(0,0,0,0.4) !important;
    transition: 0.5s;
    }

    /* Date */
    .timeline .date {
    color: #ff014f; /* Accent */
    font-weight: 600;
    }

    /* Headings */
    .timeline h3 {
    padding-top: 0.25em;
    color: #e4e6ea;
    }

    .timeline h5 {
    color: #c4cfde; /* Light */
    }

    /* Description */
    .timeline .description {
    margin: 1em 0;
    font-size: 17px;
    color: #c4cfde; /* Light */
    }

    /* ================= MOBILE TIMELINE ================= */

    @media (max-width: 768px) {
    .timeline .vertical-timeline-element-date {
        display: block !important;
        float: none !important;
        color: #ff014f;
        margin-top: 1.5em;
        font-size: 12px;
    }

    .timeline h3 {
        font-size: 16px;
    }

    .timeline h5 {
        font-size: 14px;
    }

    .timeline .description {
        font-size: 13px;
    }
}
