
@media (max-width: 700px) {

    .container2 p{
        font-size: 1rem !important;
    }
    .container1::after{
        top: 20% !important;
    }
    }

    .container1::after {
    position: absolute;
    content: "";
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    left: 79%;
    top: 47% ;
    z-index: 5;
    background: linear-gradient(45deg, #7f00ff, rgb(3, 229, 93));
    animation: object2 6s linear infinite;
    }

    @keyframes object2 {
    50% {
        left: 74%;
        top: 33%;
    }
    }
    .headline {
    display: block;
    position: relative;
    font-size: 4vw;
    letter-spacing: 5px;
    color: #75acf9;
    }

    .headline::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #6e9be2;
    }

    .container2 h1 {
    display: block;
    font-size: 6vw;
    font-weight: 900;
    color: #e4e6ea;
    }

    .headline-text {
    color: #faf7f7;
    text-transform: capitalize;
    }

    .container2 p {
    display: block ;
    font-size: 1.5rem;
    width: 100% !important;
    font-weight: 600;
    color: #7bb1fb;
    }

    .button-box1 {
    width: 35vw;
    margin-left: 10vw;
    left: 20vw;
    }

    .button-box1 button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #262c33;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(52, 45, 45, 0.4);
    }

    .button-box1 button:hover {
    background-color: #ffffff;
    color: #17191c;
    }

    .container20 {
        z-index: 5;
        
    }
    
    #pic1 {
        height: 31vw;
        width: 31vw;
        border-radius: 50%;
        margin-top: 3.5vw;
    }

    .hero {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero h1 {
        font-size: 60px;
        font-weight: bold;
    }
    
    .hero h1 span {
        display: block;
        color: #ff8d8d;
    }
    .hero h2 {
        font-size: 50px;
        font-weight: bold;
        color: #e4e6ea;
    }
    .hero_btn {
        margin-top: 10%;
    }
    .hero_btn h4 {
        font-weight: 500;
        letter-spacing: 2px;
        color: #c4cfde;
        font-size: 15px;
        margin: 30px 0 0 0;
    }
    .hero_btn button {
        margin-right: 30px;
    }
    .hero_btn i {
        font-size: 20px;
    }
    
    .hero_btn button img {
        /* skills images  */
        width: 20px;
        height: 22px;
        vertical-align:top;
        filter: invert(1) brightness(100);
    }
    .hero .left {
        width: 900px
    }
    /* .hero .right {
        width: 30%;
        display: flex;
        justify-content: center;
    } */
    .hero .right_img {
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        /* background: linear-gradient(145deg, #cbd8e1, #e9d2d2);
        box-shadow: 4px 4px 8px #928e8e, -4px -4px 8px #fdfbfb; */
        border-radius: 10px;
        height: 510px;
        width: 510px;
        margin-top: 20%;
    }
    .hero img {
        /* hero image  */
        /* position: absolute;
        top: 0;
        right: -20%; */
        width: 500px;
        height: 530px;
    }
    .btn_shadow{
        margin-top: 20px;
    }
    @media (max-width: 768px) {
        .hero .right,
        .hero .left {
        width: 100%;
        margin-left: 10px;
        }
    
        .hero .f_flex {
        flex-direction: column;
        /* Image on smaller screen comes above */
        flex-direction: column-reverse;
        }
        .hero .right_img {
        width: 95%;
        display: flex;
        margin-top: 0%;
        height: 32vh;
        }
        .hero img {
        /* position: absolute;
        top:-18%;
        right: 20%; */
        width: 240px;
        height: 250px;
        }
        .hero h1 {
        font-size: 35px;
        }
        .hero h2 {
        font-size: 20px;
        }
        .btn_shadow{
        margin-left: 20px;
        }
        .headline::after{
        bottom: 0px;
        }
    }
    