
.logo {
    display: flex;
    font-size: 2.5rem;
    font-weight: 800;
    color: #84cff5;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-transform: uppercase;
    }
    
    .logo b {
    font-size: 45px;
    color: #6bb9f1;
    }

    header {
    height: 10vh;
    background-color: #272e35;
    border-bottom: 1px solid rgba(13, 19, 28, 0.05);
    }
    header .container{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
    header ul li {
    margin-left: 30px;
    }

    header ul li a {
    transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #9ad3fc;
    }
    header ul li a:hover {
    color: #fff5f5;
    }

    header h2{
    display: inline;
    vertical-align: top;
    margin-left: 20px;
    }

    .home-btn {
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    height: fit-content;
    color:  #fdf9f9;
    }
    .home-btn {
    background: linear-gradient(145deg, #303f5e, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    }
    .home-btn:hover {
    background: #ffffff;
    color: #17191c;
    transform: translateY(-5px);
    }
    /* On larger screen toggle button is not shown */
    .open {  
    display: none;
    }    
    /* active class is activated on scroll, and thus these below property kicks in, on scroll    */
    .header.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(33, 37, 42, 0.95);
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  /* glass blur using backdrop-filter */
}

@media (max-width: 768px) {
  /* @media changes  to above styles on change in width */
    header ul {
        padding-top: 30px;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(46, 46, 136, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        width: 60%;
        height: 100vh;
        background-color: #29333a;
        z-index: 888;
    }
    header ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        line-height: 70px;
    }
    
    /* Reason why nav link won't appear on small screen initially */
    header .link {
        display: none;
    }
    /* on mobile screen button with open tag, ie, fa-bar button appears */
    .close,
    .open {
        position: absolute;
        top: 35px;
        right: 20px;
        color: #72dbf3;
        display: block;
        font-size: 25px;
        z-index: 999;
    }
    .close {
        right: 45%;
    }
    .close.home-btn {
        background: linear-gradient(145deg, #1e2024, #2c303b);
        color: #65f6fe;
        border-radius: 50%;
        padding: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .header.active {
        height: 11vh;
    }
}