.skl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
    /* background-color: blue; */
}
.skl-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin: 2rem 0;
}
.skl-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem 2rem;
    padding: 10px;
    border-radius: 10px;
    background: #2a4657;
    box-shadow: 5px 5px 15px rgba(153, 62, 62, 0.25);
    border: 1px solid rgba(253, 253, 253, 0.05);
    transition: 0.3s ease-in-out;
}
.skl-card:hover {
    background: #273d51;
    transform: translateY(-10px);
    border-color: rgba(215, 216, 219, 0.2);
    box-shadow: 8px 8px 20px rgba(0,0,0,0.4);
    transition: 0.5s;
}
.card-title {
    margin: 10px auto;
    color: #eaeef5;
}
.skl-card ul{
    margin: 0 1rem;
}
.skl-card li{
    list-style:square;
    color: #f3f8ff;
    margin-bottom: 5px;
}
.skl-card img {
    height: 30vh;
}
@media (max-width: 768px) {
    .skl-card li{
        font-size: 15px;
    }
    .skl-card img {
        height: 25vh;
        border-radius: 10px;
    }
}
